
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/reporting-labs/
/allure-results/
/allure-report/

#env file-confidentail
config/.env.*
!config/.env.example

#build
dist/


reporting-labs.history.json